DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/expenses_db
DB_ECHO=false
DB_POOL_SIZE=5

AUTH_SECRET_KEY=eshkeree
AUTH_ALGORITHM=HS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=30

LOGGING_FILE=app.log
LOGGING_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
LOGGING_LEVEL=INFO